/Homework/Cervantes_Jose_Review_48096/build/
/Homework/Cervantes_Jose_Review_48096/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_3_Prob_12_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_3_Prob_12_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_3_Prob_13_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_3_Prob_13_Pog_Chall/dist/
/Homework/Gaddis_Ch_4_Prob_10_Pog_Chall/build/
/Homework/Gaddis_Ch_4_Prob_10_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_10_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_10_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_6_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_6_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_7_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_7_Pog_Chall/dist/