/Homework/Cervantes_Jose_Review_48096/build/
/Homework/Cervantes_Jose_Review_48096/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_3_Prob_12_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_3_Prob_12_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_3_Prob_13_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_3_Prob_13_Pog_Chall/dist/
/Homework/Gaddis_Ch_4_Prob_10_Pog_Chall/build/
/Homework/Gaddis_Ch_4_Prob_10_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_10_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_10_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_6_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_6_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_7_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_4_Prob_7_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_6_Prob_7_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_6_Prob_7_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_7_Prob_5_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_7_Prob_5_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_8_Prob_7_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_8_Prob_7_Pog_Chall/dist/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_8_Prob_11_Pog_Chall/build/
/Homework/Cervantes_Jose_Review_48096/Gaddis_Ch_8_Prob_11_Pog_Chall/dist/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob01_Prog_Challenges/build/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob01_Prog_Challenges/dist/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob02_Prog_Challenges/build/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob02_Prog_Challenges/dist/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob03_Prog_Challenges/build/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob03_Prog_Challenges/dist/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob04_Prog_Challenges/build/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob04_Prog_Challenges/dist/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob05_Prog_Challenges/build/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob05_Prog_Challenges/dist/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob05_Prog_Challenges/Gaddis_8thEd_Chap9_Prob05_Prog_Challenges/dist/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob05_Prog_Challenges/Gaddis_8thEd_Chap9_Prob05_Prog_Challenges/build/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/_Prog_Challenges/Gaddis_8thEd_Chap9_Prob05_Prog_Challenges/build/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/_Prog_Challenges/Gaddis_8thEd_Chap9_Prob05_Prog_Challenges/dist/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob05_Prog_Challenges/Gaddis_8thEd_Chap9_Prob06_Prog_Challenges/build/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob05_Prog_Challenges/Gaddis_8thEd_Chap9_Prob06_Prog_Challenges/dist/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob07_Prog_Challenges_1/build/
/Homework/ Cervantes, Jose -Assignment 1 - 48096/Gaddis_8thEd_Chap9_Prob07_Prog_Challenges_1/dist/
/Homework/ Cervantes, Jose -Assignment 2 - 48096/Gaddis_8thEd_Chap11_Prob01_Prog_Challenges/build/
/Homework/ Cervantes, Jose -Assignment 2 - 48096/Gaddis_8thEd_Chap11_Prob01_Prog_Challenges/dist/
/Homework/ Cervantes, Jose -Assignment 2 - 48096/Gaddis_8thEd_Chap11_Prob02_Prog_Challenges/dist/
/Homework/ Cervantes, Jose -Assignment 2 - 48096/Gaddis_8thEd_Chap11_Prob02_Prog_Challenges/build/